<form [formGroup]="editor" @routeAnimation>
  <div class="header">
    <div class="inputs">
      <label for="target">Object</label>
      <input id="target" class="object" formControlName="objectName" maxlength="60">
      <label for="description">Brief description</label>
      <textarea id="description"
                class="description"
                formControlName="description"
                rows="5"
                maxlength="550">
      </textarea>
    </div>

    <div class="upload">
      <img class="upload__preview" [src]="avatar" alt="avatar">
      <label class="upload__label">
        Upload
        <input class="upload__input"
               type="file"
               accept="image/gif, image/jpeg, image/png"
               (change)="readUrl($event)"/>
      </label>
    </div>
  </div>

  <div class="main">
    <app-adjustable-chart *ngIf="currentCollection?.chart" [currentCollectionChart]="currentCollection.chart">
    </app-adjustable-chart>
  </div>

  <div class="editor">
    <div class="editor-content">

      <quill-editor *ngIf="isEditing"
                    class="quill"
                    [styles]="editorStyle"
                    [modules]="editorModules"
                    (onContentChanged)="contentChanged($event)">
      </quill-editor>

      <ng-container #quillContent class="quill-content"></ng-container>

    </div>

    <div class="buttons">
      <ion-icon name="save"></ion-icon>
      <button *ngIf="isEditing" type="button" class="button" (click)="createEditorContent(); toggleEditing()">save
      </button>
      <button *ngIf="!isEditing" type="button" class="button" (click)="toggleEditing()">edit
      </button>
    </div>buttons
  </div>
</form>
