:host {
  display: flex;
  width: 100%;
}

.chart,
.chart-data {
  width: 50%;
}

.chart-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chart-data__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .chart-data__name {
    margin-bottom: 0.5rem;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.slider {
  width: 80%;
}
